.game {
  display: flex;
  justify-content: center;
  margin: 8% 0%;
}

.gameInfo {
  margin-left: 12%;
}

.status {
  margin-bottom: 10px;
  font-size: 40px;
}

.gameInfo button {
  text-align: center;
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 1%;
  font-size: 22px;
  cursor: pointer;
  margin-bottom: 2%;
  width: 275px;
  height: 44px;
}
