* {
  box-sizing: border-box;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: #f4f4f4;
}

.title {
  text-align: center;
  width: 100%;
  font-size: 46px;
}

ol,
ul {
  padding-left: 30px;
  list-style-type: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}
