* {
  box-sizing: border-box;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: #f4f4f4;
}

.title {
  text-align: center;
  width: 100%;
  font-size: 46px;
}
